---
---

.highlight .hll { }
.highlight  { }
.highlight .c { color: #608b4e; } /* Comment */
.highlight .ch { color: #608b4e; } /* Comment.Hashbang */
.highlight .cm { color: #608b4e; } /* Comment.Multiline */
.highlight .cp { color: #608b4e; } /* Comment.Preproc */
.highlight .cpf { color: #608b4e; } /* Comment.PreprocFile */
.highlight .c1 { color: #608b4e; } /* Comment.Single */
.highlight .cs { color: #608b4e; } /* Comment.Special */
.highlight .err { } /* Error */
.highlight .k { color: #C586C0; } /* Keyword */
.highlight .o { } /* Operator */
.highlight .gd { } /* Generic.Deleted */
.highlight .ge { } /* Generic.Emph */
.highlight .gr { } /* Generic.Error */
.highlight .gh { } /* Generic.Heading */
.highlight .gi { } /* Generic.Inserted */
.highlight .go { } /* Generic.Output */
.highlight .gp { } /* Generic.Prompt */
.highlight .gs { } /* Generic.Strong */
.highlight .gu { } /* Generic.Subheading */
.highlight .gt { } /* Generic.Traceback */
.highlight .kc { color: #569cd6; } /* Keyword.Constant */
.highlight .kd { color: #569cd6; } /* Keyword.Declaration */
.highlight .kn { } /* Keyword.Namespace */
.highlight .kp { } /* Keyword.Pseudo */
.highlight .kr { } /* Keyword.Reserved */
.highlight .kt { color: #569cd6; } /* Keyword.Type */
.highlight .m { } /* Literal.Number */
.highlight .s { color: #ce9178; } /* Literal.String */
.highlight .n { } /* Name */
.highlight .ow { } /* Operator.Word */
.highlight .w { } /* Text.Whitespace */
.highlight .mb { } /* Literal.Number.Bin */
.highlight .mf { color: #b5cea8; } /* Literal.Number.Float */
.highlight .mh { color: #b5cea8; } /* Literal.Number.Hex */
.highlight .mi { color: #b5cea8; } /* Literal.Number.Integer */
.highlight .mo { color: #b5cea8; } /* Literal.Number.Oct */
.highlight .sa { } /* Literal.String.Affix */
.highlight .sb { } /* Literal.String.Backtick */
.highlight .sc { } /* Literal.String.Char */
.highlight .dl { } /* Literal.String.Delimiter */
.highlight .sd { } /* Literal.String.Doc */
.highlight .s2 { color: #9cdcfe; } /* Literal.String.Double */
.highlight .se { } /* Literal.String.Escape */
.highlight .sh { } /* Literal.String.Heredoc */
.highlight .si { } /* Literal.String.Interpol */
.highlight .sx { } /* Literal.String.Other */
.highlight .sr { } /* Literal.String.Regex */
.highlight .s1 { } /* Literal.String.Single */
.highlight .ss { } /* Literal.String.Symbol */
.highlight .bp { } /* Name.Builtin.Pseudo */
.highlight .fm { } /* Name.Function.Magic */
.highlight .vc { } /* Name.Variable.Class */
.highlight .vg { } /* Name.Variable.Global */
.highlight .vi { } /* Name.Variable.Instance */
.highlight .vm { } /* Name.Variable.Magic */
.highlight .il { } /* Literal.Number.Integer.Long */
