---
title: Test Results
body-class: big-screen test-results-page
---

<script src="/js/test-results.js"></script>

<div id="test-results-loading" class="loading"></div>
<div id="test-results-warnings" class="hide"></div>

<ul id="test-branches" class="hide"></ul>
<div id="stale" class="hide">
	<h2>Stale Branches</h2>
	<ul id="test-branches-stale"></ul>
</div>

<table id="test-results" class="hide">
	<thead>
	</thead>
	<tbody>
	</tbody>
</table>
