<ul>
	<li {% if page.url == "/" %}class="current"{% endif %}><a href="/">Home</a></li>
	<li {% if page.url contains "/docs/" %}class="current"{% endif %}><a href="/docs/">Docs</a></li>
	<li {% if page.url contains "/faq/" %}class="current"{% endif %}><a href="/faq/">FAQ</a></li>
	<li {% if page.url contains "/releases/" %}class="current"{% endif %}>
		<a href="/releases/">Releases</a>
		{% if page.url contains "/releases/" %}
			{% assign releases = site.releases | sort: "sort_order" | reverse | slice: 0, 10 %}
			{% include nav.html items=releases %}
		{% endif %}
	</li>
</ul>
