<html>
	<head>
		<title>{{ page.title | escape }} - {{ site.name }} - {{ site.desc }}</title>
		<link rel="stylesheet" href="/css/main.css" />
		<link rel="stylesheet" href="/css/code.css" />
		<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="/images/favicon.ico" rel="shortcut icon">
	</head>
<body>
	<header>
		<div class="title">{{ site.name }}</div>
		<div>{{ site.desc }}</div>
	</header>
	<div class="line"><div class="inner"></div></div>
	{{ content }}
	<footer>
		...
	</footer>
</body>
</html>
