<html>
<head>
	<title>{% if page.title != "" %}{{ page.title | escape }} - {% endif %}{{ site.name }} - {{ site.desc }}</title>
	<link rel="stylesheet" href="/css/main.css" />
	<link rel="stylesheet" href="/css/code.css" />
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="/images/favicon.ico" rel="shortcut icon">
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-2201586-26"></script>
	<script async src="/js/main.js"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
		gtag('config', 'UA-2201586-26');
	</script>
</head>
<body class="{{page.body-class}}">
	<header>
		<div class="title">{{ site.name }}</div>
		<div>{{ site.desc }}</div>
	</header>
	<div class="line"><div class="inner"></div></div>
	<nav>
		{% include main-nav.html %}
	</nav>
	{{ content }}
	<footer>
		...
	</footer>
	<a href="https://github.com/Dart-Code/Dart-Code/">
		<img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub">
	</a>
</body>
</html>
